#formSection{
	text-align: center;
}
#menu{
	margin-top: 15%;
	width: 50%;
	height: 45%;
	margin-left: 25%;
	background-color: transparent;
	float: left;
	position: absolute;
	border-top: none;
	border: 5px solid transparent;
	-webkit-border-image: url(blueborder.gif) 30 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(blueborder.gif) 30 30 stretch; /* Opera 11-12.1 */
    border-image: url(blueborder.gif) 30 30 stretch;
}
#mensaje{
	color: #e75f03;
	font-size: 20px;
}
#tituloMenu{
	font-size: 35px;
	color: #e75f03;
}