@CHARSET "ISO-8859-1";
#div_footer {
    background-color: #000000;
    bottom: 0;
    height: 8%;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}

.leyenda {
    color: #FFFFFF;
    font-size: 14px;
    left: 10px;
    line-height: 120%;
    position: relative;
    top: 10px;
    width: 80%;
}