#seccionBuscador {
	text-align: center;
}
span{
	font-size: 25px;
	color: white;
}

body{
	background-image: url('planetas.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

#seccionResultados{
	color: red;
	font-size: 20px;
}